h1 {
    color: black;
    width: 20px;
    font-family: sans-serif;
    text-align: center;
  }
  a {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    background-color: #ffc8dd;

  }

  body {
    font-size: 16px;
    background-color: #cdb4db;
  }

  p {
    font-weight: 200;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
  }



  li,
  h3,
  h2 {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
  }

  #habilidades {
    background-color: #ffafcc;
  }

  #Blogs {
    background-color: #ffafcc;

  }
 