.meuNome {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

a {
  font-style: italic;
  line-height: 40px;
  background-color: #ffc8dd;
}

body {
  font-size: 16px;
  background-color: #cdb4db;
  padding: 3%;
}
p {
  font-weight: 200;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}
li,
h3,
h2 {
  font-style: italic;
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
}
h3.Sobremim {
  background-color: #ffafcc;
}
.descricao {
  position: absolute;
  top: 10%;
  left: 26%;
  
}
h3,
h2 {
  background-color: #ffafcc;
}
#Blogs {
  background-color: #ffafcc;
}
.image-container {
  height: 220px;
  position: relative;
}

#minhaFoto{
  float: left;
  height: 200px;
  padding: 10px;
  background-color: #e5989b;
}


.nav-links li{
  display: inline-block;
  width: 200px;
  font-size: x-large;

}
li.lista-habilidades:nth-child(odd){
  background-color: #bde0fe ;
  
}