h1 {
    color: black;
    width: 65px;
    font-family: sans-serif;
    text-align: center;
  }
  a {
    font-style: italic;
    line-height: 40px;
    text-align: center;

  }

  body {
    font-size: 16px;
    background-color: #faedcd;
  }

  p {
    font-weight: 200;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
  }

  .backgroundColor {
    background-color: blue;
  }

  li,
  h3,
  h2 {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
  }

  #amarelo {
    background-color: yellow;
  }

  #vermelho {
    background-color: red;
  }

  #marrom {
    background-color: brown;
  }